{
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true,
          "electron": 1.6,
          "uglify": true
        },
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ],
      "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs",
        [
          "espower",
          {
            "embedAst": true
          }
        ],
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ]
    }
  }
}
