{
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "electron": 1.6
        }
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ],
      "plugins": [
        [
          "espower",
          {
            "embedAst": true
          }
        ]
      ]
    }
  }
}
