{
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
      ],
      "presets": [
        "es2015",
        "stage-2",
        "react"
      ]
    },
    "test": {
      "plugins": [
        "transform-runtime",
      ],
      "presets": [
        "es2015",
        "stage-2",
        "react"
      ]
    },
    "es": {
      "plugins": [
        "transform-runtime",
      ],
      "presets": [
        ["es2015", { "modules": false }],
        "stage-2",
        "react"
      ]
    }
  }
}
