@import '../../settings';

.page {
  background-color: var(--white);
  overflow: hidden;
  page-break-after: always;
}

@media not print {
  .page:not(:first-child) {
    margin-top: calc(2 * var(--spacing));
  }
}
